et-xmlfile==1.0.1
future==0.18.2
iso8601==0.1.12
jdcal==1.4.1
numpy==1.19.1
openpyxl==3.0.4
pynrfjprog==10.3.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyserial==3.4
PyYAML==5.3.1
serial==0.0.97
zb-cli-wrapper==0.3
